.titulo-principal__numero 
  background-color: $color-acento-botones
.barra-avance__boton--regresar i
  color: $color-sistema-texto
.boton.barra-avance__boton--regresar:active span,  .boton.barra-avance__boton--regresar:focus span,  .boton.barra-avance__boton--regresar:hover span
  color: $white !important
.titulo-segundo:after
  border-left: solid 50px $color-primario

.back-white
  background-color: #FFF
.back-gris
  background-color: #F6F6F6
.back-verde-suave
  background-color: #e7f6da   
.back-verde
  background-color: #e1f3d1
.back-amarillo-suave
  background-color: #fef9d1
.back-primario
  background-color: #8AD24A
.back-color-acento-contenido  
  background-color: #FDE947

.tabla-b__header td
  font-weight: 600
  font-size: 18px
.tabla-b .column-1
  width: 16%
.tabla-b .column-2
  width: 42%
.tabla-b .column-3
  width: 42%
.tabla-b td
  border: 1px solid #8AD24A  
.lista-azul.lista-ul--color li > i:first-of-type
  color: #3CA8F4

.tarjeta-botones
  background-color: #FFF
  border: 7px solid #8AD24A